/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
    background-color: #16223e;
    color: #1d4ed8;
    font-family: 'Courier New', Courier, monospace
 }

 body {
  width: 100vw !important;
  height: 100vh !important;
 }

 .bgImage {
   background-image: url("techny-chart-board.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   width: 100%;
 }

 .dot {
  height: 7px;
  width: 7px;
  background-color: #1d4ed8;
  border-radius: 50%;
  display: inline-block;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.down {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}